[user]
	name = zhengzhe17
	email = zhengzhe17@jd.com
[core]
	editor = vim
	filemode = false
	quotepath = false
	autocrlf = input
	safecrlf = true
	whitespace = cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	sm = submodule
	rs = restore --staged
[push]
	default = simple
[pull]
	rebase = true
[http]
	postBuffer = 524288000
	sslVerify = false
[credential]
	helper = store
[url "git@coding.jd.com:"]
	insteadOf = https://coding.jd.com/
