[user]
#	name = Jackzzz126
#	email = Jackzzz@126.com
[core]
	editor = vim
	filemode = false
	quotepath = false
	autocrlf = false
	safecrlf = true
	whitespace = cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	sm = submodule
	rs = restore --staged
[push]
	default = simple
[pull]
	rebase = true
[http]
	postBuffer = 524288000
	sslVerify = false
